.header-container.type25{border-top-width:0;}
.header-container.type25 .header-center{flex:1;padding-left:0.875rem;padding-right:0;}
.header-container.type25 .header-left, .header-container.type25 .header-right{-ms-flex:inherit;flex:inherit;}
.header-container.type25 .header-left{min-width:16.6666%;}
.header-container.type25 .top-links-area {margin-left: 0.875rem;}
.header-container.type25 .top-links-area .links {margin-left: 4px;margin-right: 8px;}
.header-container.type25 .top-links-area .links li{padding:5.5px 12px;font-size:11px;font-family: 'Open Sans';text-align:left;text-transform:inherit;white-space:nowrap;font-weight:600;border:none;letter-spacing:.025em;}
.header-container.type25 .top-links-area .links li a{font-weight:inherit;}
.header-container.type25 .top-links-container{padding:0;}
.header-container.type25 .top-links-container .custom-text{font-size:.7857em;font-weight:400;margin-right: auto;}
@media (max-width:767px){.header-container.type25 .top-links-container .custom-text{display:none;}}
.header-container.type25 .top-links-container .separator{height:50px;line-height:1;color:transparent;width:1px;background:rgba(255, 255, 255, 1);display:inline-block;margin:0 0 0 0.875rem;opacity:1;}
.header-container.type25 .top-links-container .currency-wrapper, .header-container.type25 .top-links-container .language-wrapper{margin-right:5px;}
.header-container.type25 .top-links-container .currency-wrapper > a, .header-container.type25 .top-links-container .language-wrapper > a, .header-container.type25 .top-links-container .compare-link > a{border:none;border-radius:3px;font-size:11px;font-weight:400;line-height:38px;text-transform:uppercase;letter-spacing:.025em;}
.header-container.type25 .top-links-container .currency-wrapper > a i:before, .header-container.type25 .top-links-container .language-wrapper > a i:before, .header-container.type25 .top-links-container .compare-link > a i:before{content:'\e81c';font-weight:400;}
.header-container.type25 .top-links-container span.split{border-color:#e7e7e7;display:none;}
.header-container.type25 .header{padding-top:43px;padding-bottom:32px;}
.header-container.type25 .main-top-nav{position:relative;padding-top:0;padding-bottom:0;}
.header-container.type25 .searchform input[type=text]{height:46px;padding:0 200px 0 21px;}
.header-container.type25 .searchform .searchsubmit{right:0;width:69px;color:#fff;font-size:0;border-radius: 0;font-weight:400;padding: 0 20.5px;background-color: #4dae65;}
.header-container.type25 .searchform .searchsubmit:after{font-size:16px;}
.header-container.type25 .search-by-category{right:69px;}
.header-container.type25 .search-by-category .input-dropdown-inner{height:46px;border:none;line-height:46px;min-width:120px;}
.header-container.type25 .search-by-category .input-dropdown-inner > a{padding-left:14px;padding-right:11px;font-size: 11px;display:flex; align-items:center;}
.header-container.type25 .search-area{margin-left:0;margin-right:0;width:100%;}
@media (max-width:575px){.header-container.type25 .search-area{display:none;}}
.header-container.type25 .search-area .search-icon{width:30px;height:46px;line-height:44px;font-size: 24px;} 
.header-container.type25 .search-area .search-extended {border-radius: 5px;width: 100%;border-width: 2px;max-width: 680px;font-size: 11px;margin-top: -10px;box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;}
.header-container.type25 .top-navigation li.level0 a.level-top{padding:15px 27px 16px 21px;margin-left:0;margin-right:0;}
.header-container.type25 .top-navigation li.level0 a.level-top > span > .cat-label{top:0;}
.header-container.type25 .header-contact{display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;margin:0;padding:0;border-right:none;margin-top: -7px;}
.header-container.type25 .header-contact > *{margin-left:.875rem;}
.header-container.type25 .header-contact > a i{display:block;font-size:32px;}
.header-container.type25 .header-contact .my-wishlist, .header-container.type25 .header-contact .my-account{display:inline-block;padding:0 .125rem;vertical-align:middle;}
.header-container.type25 .custom-block{border:none;font-size:24px;padding:0;margin-left: 0.875rem;}
.header-container.type25 .mini-cart{position:relative;line-height:29px;margin-left:12px;margin-top: -13px;padding-bottom:0;margin-bottom: 0;}
@media (max-width:991px){.header-container.type25 .site-logo img{max-width:110px !important;}
 .header-container.type25 .header{padding-top:8px;padding-bottom:8px;min-height:90px;}
 .header-container.type25 .header-center{padding:0;flex:none;}
 .header-container.type25 .header-right{margin-left:0;} 
 .header-container.type25 .search-icon i:before{font-weight:600;}
 .header-container.type25 .search-area.show-icon-tablet .search-extended::before{display:block;position:absolute;top:-22px;right:75px;border-bottom-color:#dfdfdf;}
 .header-container.type25 .search-area.show-icon-tablet .search-extended{right:-75px;border-color:#dfdfdf;border-width:4px;border-style:solid;}
 .header-container.type25 .menu-icon{margin-right:8px;padding-left:0;}
 .header-container.type25 .top-links-area ul.links{left:0;padding:5px 0;}
 .header-container.type25 .top-links-area ul.links li{padding:2px 0;}
 .header-container.type25 .top-links-area ul.links li a{padding:0 10px;}
}
@media (min-width: 992px) and (max-width: 1459px){
  .header-container.type25 .header-bottom .header-right{display: none;}
}
.header-container.type25.sticky-header .mini-cart .cart-wrapper{right:0;}
.header-container.type25.sticky-header .header-wrapper{padding:0;}
@media (max-width:991px){
  .header-container.type25.sticky-header .top-links-container{display:none;}
 .header-container.type25.sticky-header .header{min-height:60px;}
}
.header-container.type25 .second-menu {margin-left: 0.875rem;}
.header-container.type25 .main-top-nav{position:static;}
.header-container.type25 .top-navigation:not(.side-menu) li.level0 a.level-top > i {display: none;}
.header-container.type25 .main-nav{padding:0;max-width:100%;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) {display:flex;align-items:center;flex-wrap:wrap;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li{margin-right: 1px;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li > a{padding:22px 39px 22px 26px;line-height:20px;margin:0;letter-spacing:-0.35px;text-transform:inherit;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li > a:after{position:relative;right:0;margin:0 0 0 2px;line-height:1;font-size:1em;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li > a > span > .cat-label{top:0;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li a.level-top > span:before, .header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li a.level-top > span:after{display:none !important;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li .menu-wrap-sub{border-top:none;}
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li:last-child > a{border-right-width:0;}
.header-container.type25 .main-nav ul.side-menu > li{margin-top:0;}
.header-container.type25 .main-nav ul.side-menu > li:first-child{margin-top:0;}
.header-container.type25 .main-nav ul.side-menu > li > a{padding:11.5px 15px;line-height:24px;letter-spacing:.14px;margin:0;border-top-color:rgba(0, 0, 0, 0.125);text-transform:inherit;}
.header-container.type25 .main-nav ul.side-menu > li > a:after{right:26px !important;font-size: 11px !important;}
.header-container.type25 .main-nav ul.side-menu > li > a i{margin-right:.5rem;font-size:20px;position:relative;top:.07em;}
.header-container.type25 .main-nav ul.side-menu > li > a i:before {-webkit-font-smoothing: antialiased;} 
.header-container.type25 .toggle-menu{position:relative;display:block;border:none;padding:0;margin:0;min-width:auto;}
.header-container.type25 .toggle-menu .menu-container > a{display:flex;align-items:center;position:relative;font-size:14px;font-weight:600;line-height:21px;text-transform:none;padding:22px 20px 22px 20px;height:auto;color:#4dae65;background-color:#fff;transition:all 0.25s ease 0s;border-right:1px solid rgba(0, 0, 0, 0.1);border-left:1px solid rgba(0, 0, 0, 0.1);letter-spacing: -.025em;}
.header-container.type25 .toggle-menu .menu-container > a > i{border-top:2px solid;width:17px;vertical-align:middle;margin-right:10px;top:0;position:relative;}
.header-container.type25 .toggle-menu .menu-container > a > i:before{content:'';position:absolute;left:0;right:0;top:-7px;border-top:2px solid;}
.header-container.type25 .toggle-menu .menu-container > a > i:after{content:'';position:absolute;left:0;right:0;bottom:-5px;border-top:2px solid;}
.header-container.type25 .toggle-menu .menu-container > a:after{content:'\e81c';font-family:porto;font-weight:900;margin-left:52px;font-size:18px;position:relative;top:0;}
.header-container.type25 .toggle-menu .menu-container > a:hover{background-color:#4dae65;color:#fff;border-right:1px solid #4dae65;} 
.header-container.type25 .main-navigation .top-navigation.side-menu>li:hover .menu-wrap-sub {padding:20px;}
.header-container.type25 .side-menu .ulmenu-block-right {    padding: 0;    margin-left: 0;    padding-right: 20px;padding-left: 20px;}
.header-container.type25 .side-menu .ulmenu-block-bottom {  display: block;  padding-left: 10px;    padding-right: 10px;    margin: 0;width:100%;}
.header-container.type25 .brands-slider .item > a {    border: 1px solid #e3e3e3;    padding: 10px;}
.sub-custom .banner-sub-top {    margin: 1.5rem 0 1.6rem;    padding: 0;}
.main-navigation .top-navigation.side-menu>li .menu-wrap-sub:before {display: none;}
@media (min-width:992px){
  .header-container.type25 .header-bottom{border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
}
@media (max-width: 1219px){
.header-container.type25 .main-nav ul.top-navigation:not(.side-menu) > li > a {
    padding: 9px 14px 9px 14px;
}
}
.header-container.type25 .header-bottom > .main-nav > .container{position:relative;}
.header-container.type25 .second-menu .navigation-wrapper{width:auto;}
.header-container.type25 .main-navigation .top-navigation.side-menu{position:absolute;width:100%;min-width:117%;border:none;background-color:#fff;box-shadow:0 29px 29px rgb(0 0 0 / 10%);opacity:0;visibility:hidden;z-index:1001;}
.header-container.type25 .menu-container:hover .main-navigation .top-navigation.side-menu{opacity:1;visibility:visible;}
.main-section-header .top-navigation.side-menu li.level0 ul.level0 li.level1, .category-menu-style-default_new .top-navigation.side-menu li.level0 ul.level0 li.level1 {    padding: 8px 10px 17px;}
.main-section-header .top-navigation.side-menu li.level0 ul li.groups>a, .category-menu-style-default_new .top-navigation.side-menu li.level0 ul li.groups>a {color: #212529;font-size: 13px;font-weight: 700;    letter-spacing: -0.325px;    line-height: 18px; }
.main-section-header .top-navigation.side-menu li.level0 ul li a, .category-menu-style-default_new .top-navigation.side-menu li.level0 ul li a {font-size: 13px;font-weight: 400;padding-top: 0.5em;padding-bottom: 0.5em;    line-height: 18px;    letter-spacing: -0.325px;}